<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gallery</title>
</head>
<body>
    <h1>Video Gallery</h1>

    {% for video in videos %}
    <div>
        <h2>{{ video }}</h2>
        <video controls>
            <source src="{{ url_for('static', filename='recorded_videos/' ~ video) }}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endfor %}
    
</body>
</html>